* {
    margin: 0;
    padding: 0;

}
html{
    font-size: 16px;
}
body {
    display: grid;
    grid-template-rows: 1fr 700px;
}
header{
    display: grid;
    background-color: rgb(246, 238, 247);
    background-size: 100% 100%;
    height: 1000px;
    align-content: start;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    font-size: 5rem;
    width: 100%;
    font-family: 'Pacifico', cursive;
    margin-left: 25%;
    margin-top: 3%;
}
h1{
    margin-top: -5%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 5rem;
}
p{
    position: relative;
    justify-content: center;
    margin-top: 5%;
    font-family: sans-serif;
    width: 40%;
    line-height: 1.8;
    font-size: 1.2rem;
}
.confirm1{
    margin-top: 5%;
    height: 40px;
    width: 20%;
    background: orange;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
}
.nav ul{
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    align-content: space-around;
    list-style-type: none;
    margin-top: 7%;
    
}
li a:hover{
    
    color:black;
    border-top: 3px solid orange;
    text-decoration: none;

}
li a:visited {
    color:black;
    text-decoration: none;
}
li a:link {
    
    color:black;
    text-decoration: none;
}
li a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 700;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    height: 100%;
    
}
.content .left{
    width: 100%;
    margin-top: 30%;
    margin-left: 25%;
    min-height: 502px;
    
    
}
.content .right{
    background-position: relative;
    margin-top: 10%;
    width: 100%;
    background-image: url("../img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    

}

.left{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}
#about{
    background: lightseagreen;
    height: 700px;
    

}

.about-left{
    max-width: 100%;
    height: auto;
    /* spróbuj zmienic na background zamiast image w html*/
    background-image: url("../img/about.png");
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    
    
}
.about-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
}
.about-right h1{
    margin-top: 25%;
    margin-left: 15%;
}
.about-right p{
    
    margin-left: 15%;
    text-align: start;
    line-height: 1.8;
}
#gallery{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    height: 1000px;
    align-content: stretch;
    width: auto;
    grid-row-gap: 0px;
    
    background-color: yellow;
    
      
}


#gallery .galContent, .galLogo{
    position: relative;
    
    height: 100%;
}
.galContent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    height: auto;
    justify-content: center;
    grid-gap: 3%;
    
}
.galLogo{
    text-align: center;
    font-family: sans-serif;
    margin-top: 5%;
    font-size: 5rem;
    font-weight: bold;
    

}
.image{
   
    border: 3px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.image:nth-of-type(1) {
   
    grid-row: span 2;
    background-image: url("../img/gal1.png");
    display: flex;
    position: relative;
    
     

}
.image:nth-of-type(2) {
    
    background-image: url("../img/gal2.png");
    

}
.image:nth-of-type(3) {
    
    background-image: url("../img/gal3.png");
    


}
.image:nth-of-type(4) {
    
    background-image: url("../img/gal4.png");
    
   
}
.image:nth-of-type(5) {
    
    background-image: url("../img/gal5.png");
   
    
}



