* {
    margin: 0;
    padding: 0;

}
html{
    font-size: 16px;
}
body {
    display: grid;
    grid-template-rows: 1fr 700px;
}
header{
    display: grid;
    background-color: rgb(246, 238, 247);
    background-size: 100% 100%;
    height: 1000px;
    align-content: start;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    font-size: 5rem;
    width: 100%;
    font-family: 'Pacifico', cursive;
    margin-left: 25%;
    margin-top: 3%;
    
}

h1{
    position: relative;
    bottom: 15%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 5rem;
}
p{
    position: relative;
    text-align: justify;
    justify-content: center;
    
    font-family: sans-serif;
    width: 40%;
    line-height: 1.8;
    font-size: 1.2rem;
}
button.confirm1{
    padding: 2%;
    content: 'GET FREE NOW';
    margin-top: 5%;
    height: 10%;
    width: 30%;
    background: orange;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    transition: all .5s linear;
    
}

button.confirm1:hover{
    background-color: orangered;
}
button.confirm1:active{
    transform: rotate(360);
}
.nav ul{
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-content: space-around;
    list-style-type: none;
    margin-top: 7%;
    grid-gap: 2%;
    
}
li a:hover{
    
    color:white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;

}
li a:visited {
    color:white;
    text-decoration: none;
}
li a:link {
    
    color:white;
    text-decoration: none;
}
li a {
    display:grid;
    position: relative;
    justify-content: center;
    
    right: 20%;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid lightgray;
    background: orange;
    padding: 5%;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    height: 100%;
    
}
.content .left{
    width: 100%;
    margin-top: 30%;
    margin-left: 25%;
    min-height: 502px;
    
    
}
.content .right{
    background-position: relative;
    margin-top: 10%;
    width: 100%;
    background-image: url("../img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    

}

.left{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}
#about{
    background: lightseagreen;
    height: 700px;
    

}

.about-left{
    max-width: 100%;
    height: auto;
    /* spróbuj zmienic na background zamiast image w html*/
    background-image: url("../img/about.png");
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    
    
}
.about-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
}
.about-right h1{
    margin-top: 25%;
    margin-left: 15%;
}
.about-right p{
    
    margin-left: 15%;
    text-align: start;
    line-height: 1.8;
}
#gallery{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    height: 1200px;
    align-content: stretch;
    width: auto;
    grid-row-gap: 0px;
    background-color: yellow;     
}


#gallery .galContent, .galLogo{
    position: relative;
    
    height: 100%;
}
.galContent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    height: auto;
    justify-content: center;
    grid-gap: 3%;
    bottom: 5%;
    
}
.galLogo{
    text-align: center;
    font-family: sans-serif;
    margin-top: 5%;
    font-size: 5rem;
    font-weight: bold;
    

}
.image{
   
    border: 1px solid lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
    position: relative;
   

    
}

.image:nth-of-type(1) {
   
    grid-row: span 2;
    background-image: url("../img/gal1.png");
    display: flex;
    position: relative;
}
.image:hover:nth-of-type(1) {
    transform: scale(0.8);
    opacity: 0.7;
}

.image:nth-of-type(2) {
    
    background-image: url("../img/gal2.png");
    position: relative;

}
.image:hover:nth-of-type(2) {

   transform: rotate(5deg);
   opacity: 0.7;

}
.image:nth-of-type(3) {
    
    background-image: url("../img/gal3.png");

}
.image:hover:nth-of-type(3) {

    transform: rotate(5deg);
    opacity: 0.7;
    

}
.image:nth-of-type(4) {
    
    background-image: url("../img/gal4.png");
    
}
.image:hover:nth-of-type(5) {

    
    animation: goleft 1.5s 2 alternate;

}
.image:nth-of-type(5) {
    
    background-image: url("../img/gal5.png");
   
}
.image:hover:nth-of-type(4) {
   
    transform: scale(0.8);
    opacity: 0.7;
}
/*animation*/
@keyframes goleft {
    0% {
        right: 100px;
        transform: rotate(-7deg)
    }

    50% {
        right: 350px;
        transform: rotate(-14deg)
    }

    100% {
        right: 350px;
        transform: rotate(-7deg)
    }
}





